xdiv {
	border: dashed 1px lightgrey;
}
.green {
	background-color: #31D8A0;
	color: white;
}
.done {
	color: lightgreen;
	text-decoration: line-through;
}
.show-hide {
    display:none;
    margin: 0;
    padding: 0;
    clear:both;
}
.grey {
	color: grey;
}
#tditem {
	margin-top: 3%;
}
.inactive {
	display: none;
}
.componentdiv {
	border: solid 4px #31D8A0;
	border-radius: 20px;
	padding: 25px;
	margin-top: 15px;
}
.right {
	float:right;
}
.left {
	float:left;
}